<div class="input-group input-daterange" >


{#    <form class="form-control" name="firstdate" id="firstdatepicker"></form>#}
{#    <div class="input-group-addon"><b>TO</b></div>#}
{##}
{#    <form class="form-control" name="firstdate" id="lastdatepicker"></form>#}
{#<form action="{% url 'mallboard:interparkdatefilter' %}" method="get">#}
{#        {% csrf_token %}#}
{#        <input type="text" class="firstdate" name="firstdate" id="firstdate" value="">#}
{##}
{#        <input type="text" class="seconddate" name="seconddate" id="seconddate" value="">#}
{##}
{#         <input class="nav-link" type="submit">#}
{#</form>#}
    <form action="{% url 'mallboard:interparkdatefilter' %}" method="post">
        {% csrf_token %}
        <input type="text" class="firstdate" name="firstdate" id="firstdate" value="">

        <input type="text" class="seconddate" name="seconddate" id="seconddate" value="">

         <input class="nav-link" type="submit">
</form>


</div>
<script>
    $('#firstdate').datepicker({
        format:"yyyy-mm-dd",
        language : "ko",
        todayBtn:  1,
        autoclose: true
    })
    $('#firstdate').datepicker('setDate', new Date(new Date()));
    $('#firstdate').on('dp.change', function (selected) {
    end.data("DateTimePicker").minDate(selected.date);
 });

    $('#seconddate').datepicker({
        format:"yyyy-mm-dd",
        language : "ko",
        autoclose: true
    })
    $('#seconddate').datepicker('setDate', new Date(new Date()));
    $('#seconddate').on('dp.change', function (selected) {
    start.data("DateTimePicker").maxDate(selected.date);
 });

{#$("#firstdate").val($(".firstdate").val());#}
{#$("#seconddate").val($(".seconddate").val());#}
$("#firstdate").val($(".firstdate").val());
$("#seconddate").val($(".seconddate").val());
</script>